* {
  font-family: 'Arimo', sans-serif;
}

body {
  margin: 0;
}

.App {
  text-align: left;
}

.poem-container {
  color: blue;
  /* max-width: 40%; */
  /* margin: 20px 80px; */
  /* background-color: #e1f5fe; */
}

.poemStyle {
  color: green;
  white-space: pre-wrap;
}

/* To style poem text */
.poem-text {
  font-weight: medium;
}

/* POEM FRAME */
.poem-frame-container {
  margin: 10px;
  background-color: lightseagreen;
  display: flex;
  /* flex-wrap: wrap; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.question-container {
  background-color: #e1f5fe;
  /* max-width: 30%; */
}

.clue-container {
  background-color: #e1f5fe;
  /* max-width: 30%; */
}

.inner-p-c {
  background-color: #e1f5fe;
  margin: 10px;
}


/* Pizazzy Question/ Clue button */
.pizazz-btn {
  display: block;
  min-width: 90px;
  margin: 0px auto;
  height: 40px;
  text-align: center;
  color: rgba(255,255,255,0.9);
  border-radius: 20px;
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
  background-size: 210%;
}

.pizazz-btn:hover {
  border: 2px solid black;
}

.advance-arrow, .back-arrow {
  max-width: 50px;
}