* {
  font-family: 'Arimo', sans-serif;
}

body {
  margin: 0;
}

.App {
  text-align: left;
}

.poem-card {
  color: blue;
  max-width: 500px;
  margin: 20px 80px;
}


.poemStyle {
  color: green;
  white-space: pre-wrap;
}

/* To style poem text */
.poem-text {
  font-weight: medium;
}